
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: #0d1117;
    color: #c9d1d9;
}

header {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(135deg, #0d1117, #161b22);
}

header h1 {
    font-size: 40px;
    margin: 0;
    color: #58a6ff;
}

header p {
    color: #8b949e;
    margin-top: 10px;
}

section {
    padding: 40px 10%;
}

h2 {
    border-left: 5px solid #58a6ff;
    padding-left: 10px;
    margin-bottom: 20px;
}

.skills span {
    display: inline-block;
    background: #161b22;
    color: #58a6ff;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 20px;
    border: 1px solid #30363d;
    transition: 0.3s;
}

.skills span:hover {
    box-shadow: 0 10px 25px rgba(88, 166, 255, 0.2);
    transform: translateY(-8px);
    background: #58a6ff;
    color: #0d1117;
}


.project {
    background: #161b22;
    padding: 20px;
    margin-top: 20px;
    border-radius: 12px;
    border: 1px solid #30363d;
    transition: all 0.3s ease;
}

.project:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(88, 166, 255, 0.2);
}

.project h3 {
    margin-top: 0;
    color: #58a6ff;
}
.viewproject {
    background: #161b22;
    color:rgb(220, 215, 215);
    padding: 14px 35px;
    border-radius: 30px;
    border: 1px solid #30363d;
    background: transparent;
    transition: all 0.3s ease;
}
.viewproject:hover {
    background: #58a6ff;
    color: #0d1117;
    

    transform: translateY(-6px) scale(1.05);


    box-shadow: 0 10px 30px rgba(88, 166, 255, 0.5);


    border-color: #58a6ff;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}


.skills-container span {
    display: inline-block;
}


.skill-btn {
    text-decoration: none;
    display: inline-block;
    padding: 14px 35px;
    border-radius: 30px;
    border: 1px solid #30363d;
    color: #58a6ff;
    font-size: 15px;
    background: transparent;
    transition: all 0.3s ease;
}

.skill-btn:hover {
    background: #58a6ff;
    color: #0d1117;
    
  
    transform: translateY(-6px) scale(1.05);


    box-shadow: 0 10px 30px rgba(88, 166, 255, 0.5);


    border-color: #58a6ff;
}
.profile-pic{
    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:cover;
    border:4px solid #425f83;
    margin-bottom:15px;
}
button:hover {
    background: #58a6ff;
    color: #0d1117;
}